/*~~~~~~~~ ALL COLOUR DEFS ~~~~~~~~*/
.red {
    background-color: #ff2919;
}
.pink {
    background-color: #E91E63;
}
.purple {
    background-color: #D500F9;
}
.blue {
   background-color: #304FFE;
}
.lblue {
    background-color: #00B0FF;
}
.cyan {
    background-color: #00E5FF;
}
.green {
    background-color: #48d64e;
}
.yellow {
    background-color: #FFEB3B;
}
.orange {
    background-color: #FF9100;
}
.white {
    background-color: #FFFFFF;
}
/* Actual Colours for above in detailed panel */
.detailedColours > .red, .allColours > .red {
    background-color: #ff0000;
}
.detailedColours > .pink, .allColours > .pink {
    background-color: #ff00aa;
}
.detailedColours > .purple, .allColours > .purple {
    background-color: #aa00ff;
}
.detailedColours > .blue, .allColours > .blue {
   background-color: #0000ff;
}
.detailedColours > .lblue, .allColours > .lblue {
    background-color: #00AAFF;
}
.detailedColours > .cyan, .allColours > .cyan {
    background-color: #00FFFF;
}
.detailedColours > .green, .allColours > .green {
    background-color: #00FF00;
}
.detailedColours > .yellow, .allColours > .yellow {
    background-color: #FFFF00;
}
.detailedColours > .orange, .allColours > .orange {
    background-color: #FFAA00;
}
/* Detailed colours, hex values are actual ones passed to the NeoPixel */
.rp1 {
    background-color: #ff0022;
}
.rp2 {
    background-color: #ff0044;
}
.rp3 {
    background-color: #ff0066;
}
.rp4 {
    background-color: #ff0088;
}
.pp1 {
    background-color: #ee00bb;
}
.pp2 {
    background-color: #dd00cc;
}
.pp3 {
    background-color: #cc00dd;
}
.pp4 {
    background-color: #bb00ee;
}
.pb1 {
    background-color: #8800ff;
}
.pb2 {
    background-color: #6600ff;
}
.pb3 {
    background-color: #4400ff;
}
.pb4 {
    background-color: #2200ff;
}
.bl1 {
    background-color: #0022ff;
}
.bl2 {
    background-color: #0044ff;
}
.bl3 {
    background-color: #0066ff;
}
.bl4 {
    background-color: #0088ff;
}
.lc1 {
    background-color: #00bbff;
}
.lc2 {
    background-color: #00ccff;
}
.lc3 {
    background-color: #00ddff;
}
.lc4 {
    background-color: #00eeff;
}
.cg1 {
    background-color: #00ffcc;
}
.cg2 {
    background-color: #00ff99;
}
.cg3 {
    background-color: #00ff66;
}
.cg4 {
    background-color: #00ff33;
}
.gy1 {
    background-color: #33ff00;
}
.gy2 {
    background-color: #66ff00;
}
.gy3 {
    background-color: #99ff00;
}
.gy4 {
    background-color: #ccff00;
}
.yo1 {
    background-color: #ffee00;
}
.yo2 {
    background-color: #ffdd00;
}
.yo3 {
    background-color: #ffcc00;
}
.yo4 {
    background-color: #ffbb00;
}
.or1 {
    background-color: #ff8800;
}
.or2 {
    background-color: #ff6600;
}
.or3 {
    background-color: #ff4400;
}
.or4 {
    background-color: #ff2200;
}
.w1 {
    background-color: #ffffdd;
}
.w2 {
    background-color: #ffdddd;
}
.w3 {
    background-color: #ddffdd;
}
.w4 {
    background-color: #ddddff;
}
/* Effects background for the light bars */
.lightBar_fire {
    background: -moz-linear-gradient(left, #ffea32 0%, #ff8930 21%, #ff0000 50%, #ff8930 81%, #feea32 100%);
    background: -webkit-linear-gradient(left, #ffea32 0%,#ff8930 21%,#ff0000 50%,#ff8930 81%,#feea32 100%);
    background: linear-gradient(to right, #ffea32 0%,#ff8930 21%,#ff0000 50%,#ff8930 81%,#feea32 100%);
}
.lightBar_water {
    background: -moz-linear-gradient(left, #32c8ff 0%, #3037ff 22%, #00f6ff 50%, #071cff 67%, #1e9dff 100%);
    background: -webkit-linear-gradient(left, #32c8ff 0%,#3037ff 22%,#00f6ff 50%,#071cff 67%,#1e9dff 100%);
    background: linear-gradient(to right, #32c8ff 0%,#3037ff 22%,#00f6ff 50%,#071cff 67%,#1e9dff 100%);
}
.lightBar_forest {
    background: -moz-linear-gradient(left, #72db2b 0%, #187f1d 22%, #00ff0c 50%, #04a030 67%, #52ce6f 100%);
    background: -webkit-linear-gradient(left, #72db2b 0%,#187f1d 22%,#00ff0c 50%,#04a030 67%,#52ce6f 100%);
    background: linear-gradient(to right, #72db2b 0%,#187f1d 22%,#00ff0c 50%,#04a030 67%,#52ce6f 100%);
}
.lightBar_colours, .lightBar_rainbow {
    background: -moz-linear-gradient(left, #ff0000 0%, #ffff30 24%, #30ff48 43%, #30c7ff 59%, #0c20ff 74%, #ff00c3 100%);
    background: -webkit-linear-gradient(left, #ff0000 0%,#ffff30 24%,#30ff48 43%,#30c7ff 59%,#0c20ff 74%,#ff00c3 100%);
    background: linear-gradient(to right, #ff0000 0%,#ffff30 24%,#30ff48 43%,#30c7ff 59%,#0c20ff 74%,#ff00c3 100%);
}
