html {
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    margin: 0;
    text-align: center;
}
div.buttonContainer {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
}
div.colourButton {
    width: 200px;
    display: block;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    border-color: #000;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}
.red {
    background-color: rgb(255,0,0);
}
.green {
    background-color: rgb(0,255,0);
}
.blue {
    background-color: rgb(0,0,255);
}
.black {
    background-color: rgb(255,255,255);
}
p.colourText {
    font-size: 26px;
    margin: 8px;
    text-align: center;
    font-weight: bold;
    color: #000;
}
input.authInput {
    font-size: 26px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}
input.authInput:focused {
    border-color: inherit;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
span {
    height: 90px;
    display: block;
}
.bigColourContainer {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: inline-block;
/*    overflow: auto;*/
}
.colourContainer {
    width:90px;
    height 90px;
/*    border-color: #000;*/
    background-color: green;
/*    border-style: solid;*/
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}
.detailedColours {
    margin-left: auto;
    margin-right: auto;
    margin-top: -282px;
    width: 300px;
    display: inline-block;
    display: none;
    position: fixed;
/*    bottom: 0px;*/
    display: none;
/*    left: 0px;*/
    overflow: auto;
}
.colourContainer2 {
    width:90px;
    height 90px;
/*    border-color: #000;*/
    background-color: red;
/*    border-style: solid;*/
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}
.fullPageCover {
    width: 100%;
    height: 100%;
/*    background-color: #FFFFFF;*/
    background-color: #000000;
    opacity: 0.7;
    position: fixed;
    bottom: 0px;
    display: none;
    left: 0px;
    overflow: auto;
}
