html {
    font-family: 'Roboto', sans-serif;
    background-color: #3e3e3e;
}
/*~~~~~~ ALL FONT FAMILIES HERE ~~~~~~*/
.lockTitle, .title, .subTitle {
/*    font-family: 'Roboto:100', sans-serif;*/
    font-weight: 200;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
    width: 100%;
    margin: 0;
    text-align: center;
}
.noTouch {
     /* Prevents text selection when clicking the power-off button */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.lockScreen {
    width: 100%;
    height: 100%;
    background-color: #303030;
    position: absolute;
}

h1.lockTitle {
    color: #fff;
    margin-top:90px;
    font-size: 58px;
}
input.authInput {
    color: #303030;
    font-size: 42px;
    width: 220px;
    border: none;
    box-shadow: none;
    text-align: center;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
i.lock {
    margin-top: 70px;
    color: #fff;
    font-size: 54px;
}
.content {
    display: none;
    background-color: #3e3e3e;
    padding-bottom: 40px;
}
.splash {
    display: block;
    align-content: center;
}
.plainColours {
    display: none;
}
.sectionCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 8px;
    width: 90%;
    display: block;
    overflow: auto;
}
.simpleSection {
    background-color: #2a2222;
}
.effectsSection {
    background-color: #22222a;
}
.settingSection {
    background-color: #222222;
}
.sectionImg {
    height: 130px;
    background-size: cover;
    width: 100%;
}
.simpleSectionImg {
    background-image: url('media/rainbow.jpg');
    background-position: bottom;
}
.effectsSectionImg {
    background-image: url('media/water.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}
.settingSectionImg {
    background-image: url('media/settings.jpg');
    background-position: bottom;
}
.sectionTitle {
    margin-top: -45px;
    color: #fff;
    text-align: left;
    margin-left: 20px;
}
.sectionDescription {
    margin: 15px;
    color: #fff;
}
.titleBar, i.back {
    display: block;
    bottom: 0px;
    position: fixed;
    cursor: default;
}
.titleBar {
    background-color: #2a2a2a;
    padding: 15px 0px 15px 0px;
    width: 100%;
    z-index: -2;
}
i.power {
    display: block;
    margin: 0px 15px 0px -50px;
    color: #fff;
    float: right;
    font-size: 28px;
}
i.back {
    display: none;
    padding: 15px;
    left: 0;
    color: #fff;
    margin: 0px -50px 0px 15px;
    font-size: 28px;
    z-index: -1;
}
.title {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}
.title, .subTitle {
    color: #fff;
}
.subTitle {
    width: 75%;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
}

.errorContainer {
    display: none;
    margin-top: -280px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.errorTitle {
    font-size: 40px;
    margin-bottom: -10px;
}
.errorDetails {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
.errorCode {
    font-weight: bold;
    color: #777;
}
.fullPageCover {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0.9;
    position: fixed;
    bottom: 0px;
    display: block;
    left: 0px;
    overflow: auto;
}

.errorCover, .detailedCover {
    display: none;
}


p.colourText {
    font-size: 26px;
    margin: 8px;
    text-align: center;
    font-weight: bold;
    color: #000;
}

/*span {
    height: 90px;
    display: block;
}*/
.colourContainer {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 360px;
    display: inline-block;
/*    overflow: auto;*/
}
.colourOpt {
    width: 90px;
    height: 90px;
    margin: 13px;
    border-radius: 45px;
    display: inline-block;
    background-color: #fff;
    cursor: default;
}
.detailedCover {
    background-color: #111111;
    opacity: 0.8;
}
.detailedColours {
    display: none;
    width: 400px;
    margin-top: -221px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.detColourOpt {
    width: 70px;
    height: 70px;
    margin: 3px;
    border-radius: 35px;
    display: inline-block;
    background-color: #fff;
    cursor: default;
}

/* For the LEDs
Red	ff0000
Pink	ff00aa
Purple	aa00ff
Blue	0000ff
L Blue	00aaff
Cyan	00ffff
Green	00ff00
Yellow	ffff00
Orange	ffaa00
*/

/*~~~~~~~~~~~ ALL ANIMATIONS ~~~~~~~~~~~*/
@-webkit-keyframes authBad {
    0% {
        color: #fff;
    }
    40% {
        color: #ff5555;
    }
    60% {
        color: #ff5555;
    }
    100% {
        color: #fff;
    }
}

.animate_authBad {
    -webkit-animation-name: authBad;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
